.navb
{
  text-decoration: none;
  font-size: 30px;
  color: black;
  font-weight: 500;
  font-family: serif;
}
.navb2
{
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: 500;
  font-family: serif;
}

.logo
{
  width: 50px;
  height: 50px;
  margin-left: 13px;
}
.icon
{
  font-size: 25px;
}

.carousel-caption {
    top: 35%;
    font-family: serif;
    font-weight: 400;
    font-size: 25px;
}
@media (max-width: 768px) {
    .navb {
        font-size: 14px;
        text-align: center;
    }

    .icon {
        justify-content: center;
        margin-top: 10px;
         font-size: 20px;
    }
    .navbar-collapse {
        text-align: center;
    }
}
@media (max-width: 768px) {
  .icon1 {
    width: 30px;
  }

  .title {
    font-size: 1.75rem;
  }

  .textp {
    font-size: 14px;
  }
}
@media (min-width:310px) and (max-width:575px) {
  .hi1,.hi,.hi2{
    font-size: 40px !important;
  }
   .icon1 {
    width: 35px !important;
    height: 35px !important;
  }

  .title {
    font-size: 1.75rem;
  }

  .textp {
    font-size: 10px;
  }
}
.box
{
  border: 1px solid black;
  border-radius: 20px;
  position: relative;
  padding: 50px 30px 50px;
}
.title
{
  position: absolute;
  left: 38%;
  background-color: white;
  padding: 0px 20px;
  top: -30px;
}
.icon1
{
  border-radius: 40px;
  height: 70px;
  width: 70px;
  border: 1px solid green;
  background-color: transparent !important;
}
.icon2
{
  border-radius: 40px;
  height: 50px;
  width: 50px;
  padding: 15px 15px 15px 15px;
  border: 1px solid rgb(192, 189, 189);
  background-color: transparent !important;
  margin-top: 15px;
}
.f-bold
{
  font-weight: bold;
}
.textp
{
  font-size: 18px;
  line-height: 20px;
}
.my-6
{
  margin-top: 10%;
  margin-bottom: 60px;
}
.my-7
{
  margin-top: 5% !important;
  margin-bottom: 30px;
}
.hi2
{
  font-size: 70px;
  font-family: "Oswald", sans-serif !important;
  line-height: 75px;
  font-weight: bold;
}
.hi
{
  font-size: 60px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text
{
  font-size: 22px;
}
.button1
{
  width: 150px;
  height: 50px;
  font-size: 20px;
  border-radius: 25px;
  background-color: rgb(204, 134, 20);
  color: white;
  border: none;
  margin-top: 10px;
  font-weight: 500;
}
.button2
{
  width: 220px;
  height: 60px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 30px;
  background-color: rgb(204, 134, 20);
  color: white;
  border: none;
  margin-top: 10px;
}
.hi1
{
  font-size: 55px;
  margin-top: 60px;
}
.hi3
{
  font-size: 25px;
  font-weight: 500;
  color: red;
}
del
{
  font-size: 20px;
  color: rgb(109, 106, 106);
}
.card
{
  margin: 10px;
  margin-left: 20px;
}
.bg-color
{
    background-color: rgba(211, 215, 215, 0.498);
}
.image-container{
  position: relative;
  overflow: hidden;
}
.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s ease-in-out;
  border-radius: 20px;
  cursor: pointer;
}
.image-container:hover .hover-img {
  opacity: 1;
}

.image-container1 {
  position: relative;
  overflow: hidden;
}
.hover-buttons1 {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(100%);
  display: flex;
  gap: 10px;
  transition: transform 0.6s ease-in-out;
}
.image-container:hover .hover-buttons1 {
  transform: translate(0);
}
.hover-btn {
  background-color:rgb(107, 104, 104);
  border: none;
  padding: 8px 13px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  transition: all ease-in-out 0.3s;
}

.hover-btn:hover {
  background-color: rgb(150, 138, 131);
}

.img-1
{
  position: absolute;
  width: 40%;
  z-index: 1;
  left: 0px;
  bottom: 0px;
}
.img-2
{
  margin-left: 20%;
}
.img-1 img{
  transition: transform 0.9s ease;
  cursor: pointer;
  
}
.img-1 img:hover{
  transform: scale(1.1);
}
.image-container2 {
  position: relative;
  overflow: hidden;
}

.image-container2 img {
  width: 100%;
  height: 100%;
  transition: transform 0.9s ease;
  cursor: pointer;
  
}

.image-container2 img:hover {
  transform: scale(1.1);
}
.ho2:hover
{
  color: rgb(208, 25, 25);
  cursor: pointer;
  transition: transform 0.8s ease;
}
.bg-green
{
  background-color: rgb(11, 43, 11);
  border-radius: 40px;
}

.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  background-color: white;
  transition:  0.3s ease;
}

.carousel-indicators .active {
  opacity: 1;
  background-color: #28a745;
}
.blur
{
    filter: blur(1.8px) grayscale(0%);
    box-shadow: none;
}
.user-box {
    position: relative;
    display: inline-block;
}

.navb1
{
  text-decoration: none;
  color: rgb(84, 83, 83);
  cursor: pointer;
  margin-top: 15px;
}
.navb1:hover
{
  color: black;
}

.hover-buttons2 {
    display: none;
    position: absolute;
    top: 50px;
    right: -5;
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.user-box:hover .hover-buttons2 {
    display: block;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 400px;
  height: auto;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-form1 {
  width: 800px;
  height: auto;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.font{
  font-family: serif;
  font-weight: 600;
}
