.bg-green1
{
  background-color: rgb(249, 248, 248);
}
.icon3
{
    font-size: 22px;
}
.hi5
{
    font-size: 22px;
    line-height: 33px;
    font-weight: 370;
}
.button{
    background-color: black;
    width: 100px;
    height: 45px;
    font-size: 18px;
    border: none;
}
.button:hover{
    background-color: rgb(33, 34, 34);
}